
name: run-tests

on:
  push:
  pull_request:

jobs:
  test-with-stac-fastapi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install cwltest==2.6.20250818005349
          
      - name: Run tests
        run: |
          cwltest --test tests/tests-mastering-eoap.yaml --tool cwltool --verbose --